// DEFAULT Custom Properties
:root {
  --carnation-50: #fef2f2;
  --carnation-100: #fee2e2;
  --carnation-200: #fdcbcb;
  --carnation-300: #fba6a6;
  --carnation-400: #f56565;
  --carnation-500: #ec4747;
  --carnation-600: #d92929;
  --carnation-700: #b71e1e;
  --carnation-800: #971d1d;
  --carnation-900: #7d1f1f;

  --ocean-green-50: #eefbf2;
  --ocean-green-100: #d7f4df;
  --ocean-green-200: #b2e8c3;
  --ocean-green-300: #7fd6a0;
  --ocean-green-400: #48bb78;
  --ocean-green-500: #28a15f;
  --ocean-green-600: #1a814b;
  --ocean-green-700: #15673e;
  --ocean-green-800: #135232;
  --ocean-green-900: #10442b;

  --jaffa-50: #fef8ee;
  --jaffa-100: #fcefd8;
  --jaffa-200: #f9daaf;
  --jaffa-300: #f5bf7c;
  --jaffa-400: #f09a47;
  --jaffa-500: #ed8936;
  --jaffa-600: #dd6519;
  --jaffa-700: #b74d17;
  --jaffa-800: #923d1a;
  --jaffa-900: #763418;

  --ebony-50: #f4f6fb;
  --ebony-100: #e7ebf7;
  --ebony-200: #cad5ed;
  --ebony-300: #9cb1dd;
  --ebony-400: #6788c9;
  --ebony-500: #446ab3;
  --ebony-600: #325197;
  --ebony-700: #2a427a;
  --ebony-800: #263966;
  --ebony-900: #0d121f;

  --background-color: var(--ebony-900);
  --color: var(--ebony-200);

  --tooltip-bg: var(--ebony-800);
  --tooltip-color: var(--ebony-200);

  --card-bg: var(--ebony-900);
  --card-shadow: rgba(13, 18, 31, 0.5);
  --card-bg-contrast: #111727;

  --input-bg-color: var(--ebony-700);
  --input-color: var(--ebony-800);
  --input-focus: var(--ebony-400);

  --button-focus-shadow: 0 0 0 0.2rem rgba(103, 136, 201, 0.5);
  --inner-focus-shadow: inset 0 0 0 0.2rem rgba(103, 136, 201, 0.5);

  --color--red: var(--carnation-400);

  --red-text-color: var(--carnation-900);
  --red-color: var(--carnation-400);
  --red-color-hover: var(--carnation-700);
  --red-text-color-hover: var(--carnation-100);

  --contrast-text-color: var(--ebony-900);
  --contrast-color: var(--ebony-400);
  --contrast-color-hover: var(--ebony-500);
  --contrast-text-color-hover: var(--ebony-100);
}
